{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Basic -->
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<!-- Mobile Metas -->
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<!-- Site Metas -->
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta name="author" content="" />
		<link
			rel="icon"
			type="images/x-icon"
			href="{% static 'images/EsuLogo.png' %}"
		/>
		<title>Esayas General Trading</title>

		<!-- slider stylesheet -->
		<link
			rel="stylesheet"
			type="text/css"
			href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css"
		/>

		<!-- bootstrap core css -->
		<link
			rel="stylesheet"
			type="text/css"
			href="{% static 'css/bootstrap.css'%}"
		/>

		<!-- fonts style -->
		<link
			href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700|Roboto:400,700&display=swap"
			rel="stylesheet"
		/>

		<!-- Custom styles for this template -->
		<link href="{% static 'css/style.css' %}" rel="stylesheet" />
		<!-- responsive style -->
		<link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
	</head>

	<body>
		<div class="hero_area">
			<!-- header section strats -->
			<header class="header_section">
				<div class="container-fluid">
					<nav class="navbar navbar-expand-lg custom_nav-container pt-3">
						<a class="navbar-brand" href="{% url 'home'%}">
							<img src="{% static 'images/EsuLogo.png' %}" alt="" />
							<span> Esayas General Trading </span>
						</a>
						<button
							class="navbar-toggler"
							type="button"
							data-toggle="collapse"
							data-target="#navbarSupportedContent"
							aria-controls="navbarSupportedContent"
							aria-expanded="false"
							aria-label="Toggle navigation"
						>
							<span class="navbar-toggler-icon"></span>
						</button>

						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<ul class="navbar-nav ml-auto mr-2">
								<li class="nav-item active">
									<a class="nav-link" href="{% url 'home'%}"
										>Home <span class="sr-only">(current)</span></a
									>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{% url 'about'%}">About </a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{% url 'portfolio'%}">Portfolio </a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{% url 'service'%}">Services</a>
								</li>

								<li class="nav-item">
									<a class="nav-link" href="{% url 'contact'%}">Contact us</a>
								</li>
							</ul>
							<div class="user_option">
								<div class="login_btn-container">
									<a href="{% url 'admin:index'%}"> Login </a>
								</div>
							</div>
						</div>
						<div class="call_btn">
							<a href=""> Call: +251 91 149 1734 </a>
						</div>
					</nav>
				</div>
			</header>
			<!-- end header section -->

			<section class="slider_section">
				<div class="container-fluid">
					<div
						id="carouselExampleControls"
						class="carousel slide"
						data-ride="carousel"
					>
						<div class="carousel-inner">
							<div class="carousel-item active">
								<div class="row">
									<div class="col-md-3 col-lg-2 offset-md-2">
										<div class="detail-box">
											<h1>Creative Printing</h1>
											<p>
												Unleash Your Creativity with Customized Printing and
												Design
											</p>
											<div>
												<a href=""> Read More </a>
											</div>
										</div>
									</div>
									<div class="col-md-7 col-lg-8">
										<div class="img-box">
											<img src="{% static 'images/hero.png' %}" alt="" />
										</div>
									</div>
								</div>
							</div>
							<div class="carousel-item">
								<div class="row">
									<div class="col-md-3 col-lg-2 offset-md-2">
										<div class="detail-box">
											<h1>Tech Solutions</h1>
											<p>
												Stay Connected and Productive with Cutting-Edge
												Technology Solutions
											</p>
											<div>
												<a href=""> Read More </a>
											</div>
										</div>
									</div>
									<div class="col-md-7 col-lg-8">
										<div class="img-box">
											<img src="{% static 'images/hero.png'%}" alt="" />
										</div>
									</div>
								</div>
							</div>
							<div class="carousel-item">
								<div class="row">
									<div class="col-md-3 col-lg-2 offset-md-2">
										<div class="detail-box">
											<h1>Design & Tech</h1>
											<p>
												Experience the Synergy of Innovative Design and Advanced
												Technology
											</p>
											<div>
												<a href=""> Read More </a>
											</div>
										</div>
									</div>
									<div class="col-md-7 col-lg-8">
										<div class="img-box">
											<img src="{% static 'images/hero.png'%}" alt="" />
										</div>
									</div>
								</div>
							</div>
						</div>
						<a
							class="carousel-control-prev"
							href="#carouselExampleControls"
							role="button"
							data-slide="prev"
						>
							<span class="sr-only">Previous</span>
						</a>
						<a
							class="carousel-control-next"
							href="#carouselExampleControls"
							role="button"
							data-slide="next"
						>
							<span class="sr-only">Next</span>
						</a>
					</div>
				</div>
			</section>
		</div>

		<!-- custom menu -->
		<div class="custom_menu-container">
			<div class="container">
				<div class="custom_menu">
					<ul class="navbar-nav">
						<li class="nav-item active">
							<a class="nav-link pl-0" href="{% url 'home'%}"
								>Home <span class="sr-only">(current)</span></a
							>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'about'%}">About </a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'portfolio'%}">Portfolio </a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'service'%}">Services</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="{% url 'contact'%}">Contact us</a>
						</li>
					</ul>
					<div class="user_option">
						<div class="login_btn-container">
							<a href="{% url 'admin:index'%}"> Login </a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- custom menu -->

		<!-- about section -->

		<section class="about_section layout_padding mt-5">
			<div class="container">
				<div class="row">
					<div class="col-md-7">
						<div class="img-box">
							<img src="{% static 'images/about-img.png'%}" alt="" />
						</div>
					</div>
					<div class="col-md-5">
						<div class="detail-box">
							<div class="custom_heading-container">
								<h2>About Design</h2>
							</div>

							<p>
								Welcome to our vibrant world of printing, design, and
								cutting-edge technology! We're a dynamic company driven by
								creativity and innovation. Our team delivers top-notch printing
								and design solutions, from eye-catching business cards to
								captivating signage. But that's not all - we also offer the
								latest in computers and accessories. From powerful laptops to
								stylish peripherals, we provide the tools you need to make a
								lasting impression in both the physical and digital realms. Join
								us as we redefine the boundaries of print and technology,
								helping you create a world of possibilities.
							</p>
							<div>
								<a href=""> About More </a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- end about section -->

		<!-- do section -->
		<section class="do_section layout_padding-bottom">
			<div class="container">
				<div class="custom_heading-container">
					<h2>What we do</h2>
				</div>
				<div class="row">
					<div class="col-md-3 col-sm-6">
						<div class="content-box bg-red">
							<div class="img-box">
								<img src="{% static 'images/idea.png'%}" alt="" />
							</div>
							<div class="detail-box">
								<h6>Printing Excellence</h6>
								<p>
									Our printing services are designed to exceed your
									expectations.
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="content-box bg-green">
							<div class="img-box">
								<img src="{% static 'images/controller.png'%}" alt="" />
							</div>
							<div class="detail-box">
								<h6>Innovative Design Solutions</h6>
								<p>
									Our talented team of designers brings innovation to every
									project.
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="content-box bg-red">
							<div class="img-box">
								<img src="{% static 'images/monitor.png'%}" alt="" />
							</div>
							<div class="detail-box">
								<h6>Cutting-Edge Technology</h6>
								<p>
									Stay ahead of the curve with our wide range of computers and
									accessories.
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="content-box bg-green">
							<div class="img-box">
								<img src="{% static 'images/rocket-ship.png'%}" alt="" />
							</div>
							<div class="detail-box">
								<h6>Personalized Approach</h6>
								<p>
									We believe in personalized service tailored to your specific
									needs.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- end do section -->
		<!-- skill section -->

		<section class="skill_section layout_padding2">
			<div class="container">
				<div class="custom_heading-container">
					<h2>Our Skills</h2>
				</div>
				<div class="skill_padding">
					<div class="row">
						<div class="col-md-3 col-sm-6">
							<div class="box">
								<div class="circle" id="circles-1"></div>
								<h6>Adobe Photoshop</h6>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="box">
								<div class="circle" id="circles-2"></div>
								<h6>Adobe Ilustrator</h6>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="box">
								<div class="circle" id="circles-3"></div>
								<h6>After Effects</h6>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="box">
								<div class="circle" id="circles-4"></div>
								<h6>Adobe XD</h6>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- end skill section -->

		<!-- portfolio section -->
		<section class="portfolio_section layout_padding">
			<div class="container">
				<div class="custom_heading-container">
					<h2>Our Portfolio</h2>
				</div>
			</div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6">
						<div class="row">
							<div class="col-sm-6">
								<div class="box b-1">
									<img src="{% static 'images/p-1.png'%}" alt="" />
									<h4>Logo Design</h4>
								</div>
								<div class="box b-2">
									<img
										src="{% static 'images/business_card.jpg'%}"
										alt=""
										height="340"
									/>
									<h4>Business Cards</h4>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="box b-3">
									<img
										src="{% static 'images/promotion2.jpg'%}"
										alt=""
										height="700"
									/>
									<h4>Promotional Materials</h4>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="row">
							<div class="col-sm-6">
								<div class="box b-4">
									<img
										src="{% static 'images/brochure2.jpg'%}"
										alt=""
										height="340"
									/>
									<h4>Brochures</h4>
								</div>
								<div class="box b-5">
									<img src="{% static 'images/p-5.png'%}" alt="" />
									<h4>Books</h4>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="box b-6">
									<img
										src="{% static 'images/computer_access.jpg'%}"
										alt=""
										height="700"
									/>
									<h4>Electonics Store</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- end portfolio section -->

		<!-- client section -->
		<section class="client_section layout_padding-bottom">
			<div class="container">
				<div class="custom_heading-container">
					<h2>Testimonial</h2>
				</div>
			</div>

			<div class="container">
				<div
					id="carouselExample2Controls"
					class="carousel slide"
					data-ride="carousel"
				>
					<div class="carousel-inner">
						<div class="carousel-item active">
							<div class="client_container layout_padding2">
								<div class="client_box b-1">
									<div class="client-id">
										<div class="img-box">
											<img
												src="{% static 'images/EsuLogo.png'%}"
												alt=""
												width="120"
												height="120"
											/>
										</div>
										<div class="name">
											<h5>Nuredin Ibrahim</h5>
											<p>client</p>
										</div>
									</div>
									<div class="detail">
										<p>
											Absolutely thrilled with the printing services provided by
											this company. Their attention to detail and commitment to
											quality surpassed my expectations. My business cards
											turned out beautifully, and I received numerous
											compliments from clients. Highly recommended!
										</p>
									</div>
								</div>
								<div class="client_box b-2">
									<div class="client-id">
										<div class="img-box">
											<img
												src="{% static 'images/EsuLogo.png'%}"
												alt=""
												width="120"
												height="120"
											/>
										</div>
										<div class="name">
											<h5>Nebiyu Samuel</h5>
											<p>client</p>
										</div>
									</div>
									<div class="detail">
										<p>
											I couldn't be happier with the design solutions offered by
											this company. Their talented team captured the essence of
											my brand perfectly and created stunning visuals that truly
											stood out. Working with them was a breeze, and I'm excited
											to continue collaborating on future projects.
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="carousel-item">
							<div class="client_container layout_padding2">
								<div class="client_box b-1">
									<div class="client-id">
										<div class="img-box">
											<img
												src="{% static 'images/EsuLogo.png'%}"
												alt=""
												width="120"
												height="120"
											/>
										</div>
										<div class="name">
											<h5>Muluken Shimelis</h5>
											<p>client</p>
										</div>
									</div>
									<div class="detail">
										<p>
											I recently purchased a laptop from this company, and I
											must say, it's been a game-changer for my productivity.
											The cutting-edge technology and sleek design exceeded my
											expectations. I appreciate the knowledgeable staff who
											guided me through the selection process, ensuring I got
											the perfect fit for my needs.
										</p>
									</div>
								</div>
								<div class="client_box b-2">
									<div class="client-id">
										<div class="img-box">
											<img
												src="{% static 'images/EsuLogo.png'%}"
												alt=""
												width="120"
												height="120"
											/>
										</div>
										<div class="name">
											<h5>Eyuel Mesfin</h5>
											<p>client</p>
										</div>
									</div>
									<div class="detail">
										<p>
											The printing services provided by this company have been
											nothing short of exceptional. From brochures to banners,
											they consistently deliver outstanding results. The
											attention to detail, vibrant colors, and timely delivery
											make them my go-to choice for all my printing needs.
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="carousel-item">
							<div class="client_container layout_padding2">
								<div class="client_box b-1">
									<div class="client-id">
										<div class="img-box">
											<img
												src="{% static 'images/EsuLogo.png'%}"
												alt=""
												width="120"
												height="120"
											/>
										</div>
										<div class="name">
											<h5>Eyob Desta</h5>
											<p>client</p>
										</div>
									</div>
									<div class="detail">
										<p>
											This company offers an impressive range of computers and
											accessories. I recently upgraded to one of their
											high-performance laptops, and I'm blown away by its speed
											and reliability. Their commitment to providing top-notch
											tech solutions is evident, and I highly recommend them to
											anyone in need of quality devices.
										</p>
									</div>
								</div>
								<div class="client_box b-2">
									<div class="client-id">
										<div class="img-box">
											<img
												src="{% static 'images/EsuLogo.png'%}"
												alt=""
												width="120"
												height="120"
											/>
										</div>
										<div class="name">
											<h5>Hiwot Mekonen</h5>
											<p>client</p>
										</div>
									</div>
									<div class="detail">
										<p>
											The design and tech synergy provided by this company is
											unmatched. They seamlessly integrated captivating visuals
											with advanced technology to elevate my online presence.
											Their expertise helped me create a website that truly
											reflects my brand's identity, and I'm extremely satisfied
											with the results.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<a
						class="carousel-control-prev"
						href="#carouselExample2Controls"
						role="button"
						data-slide="prev"
					>
						<span class="sr-only">Previous</span>
					</a>
					<a
						class="carousel-control-next"
						href="#carouselExample2Controls"
						role="button"
						data-slide="next"
					>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div>
		</section>

		<!-- end client section -->

		<!-- contact section -->

		<section class="contact_section">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-4 offset-lg-2 col-md-5 offset-md-1">
						<h2 class="custom_heading">Contact Us</h2>
						<form action="#">
							<div>
								<input type="text" placeholder="Name" />
							</div>
							<div>
								<input type="email" placeholder="Email" />
							</div>
							<div>
								<input type="text" placeholder="Pone Number" />
							</div>
							<div>
								<input type="text" class="message-box" placeholder="Message" />
							</div>
							<div class="d-flex mt-4">
								<button>SEND</button>
							</div>
						</form>
					</div>
					<div class="col-md-6 px-0">
						<div class="img-box">
							<img
								src="{% static 'images/contact.jpg'%}"
								alt=""
								class="w-100"
							/>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- end contact section -->

		<!-- info section -->
		<section class="info_section layout_padding-top layout_padding2-bottom">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-lg-3">
						<div class="info_links pl-lg-5">
							<h4>Menu</h4>
							<ul>
								<li class="active">
									<a href="index.html"> Home </a>
								</li>
								<li>
									<a href="{% url 'about'%}"> About </a>
								</li>
								<li>
									<a class="" href="portfolio.html">Portfolio </a>
								</li>
								<li>
									<a class="" href="service.html">Services</a>
								</li>
								<li>
									<a href="contact.html"> Contact Us </a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-6 col-lg-3">
						<div class="info_contact">
							<h4>Location</h4>
							<div>
								<img src="{% static 'images/location.png'%}" alt="" />
								<p>Mebrat hayl, Adama, Ethiopia</p>
							</div>
							<div>
								<img src="{% static 'images/telephone.png'%}" alt="" />
								<p>( +251911491734 )</p>
							</div>
							<div>
								<img src="{% static 'images/envelope.png'%}" alt="" />
								<p>demo@gmail.com</p>
							</div>
						</div>
					</div>

					<div class="col-md-6 col-lg-3">
						<div class="info_social">
							<h4>Social Link</h4>
							<div class="social_container">
								<div>
									<a href="">
										<img src="{% static 'images/facebook-logo.png'%}" alt="" />
									</a>
								</div>
								<div>
									<a href="">
										<img src="{% static 'images/twitter-logo.png'%}" alt="" />
									</a>
								</div>
								<div>
									<a href="">
										<img src="{% static 'images/instagram.png'%}" alt="" />
									</a>
								</div>
								<div>
									<a href="">
										<img src="{% static 'images/linkedin-sign.png'%}" alt="" />
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3">
						<div class="info_form">
							<h4>Newsletter</h4>
							<form action="#">
								<input type="text" placeholder="Enter Your Email" />
								<button type="submit">Subscribe</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- end info_section -->

		<!-- footer section -->
		<footer class="container-fluid footer_section">
			<p>
				&copy; 2023 All Rights Reserved By
				<a href="https://esayas.up.railway.app/">Esayas General Trading</a>
			</p>
		</footer>
		<!-- footer section -->

		<script src="{% static 'js/jquery-3.4.1.min.js'%}"></script>
		<script src="{% static 'js/bootstrap.js'%}"></script>
		<script src="{% static 'js/circles.min.js'%}"></script>
		<script src="{% static 'js/custom.js'%}"></script>
	</body>
</html>
